<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Validar Usuarios</title>
  <link rel="stylesheet" href="/assets/css/validation.css">

</head>
<script>
  setTimeout(function () {
    window.location.href = '/index';
  }, 3000);
</script>

<body>
  <div class="css_lab">
    <h1>Usuario Validado Correctamente</h1>
    <div class="witch">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</body>

</html>